<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1,311},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1,621},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1,931},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1,1241},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1,1551},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{237,1},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{237,311},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{237,621},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{237,931},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{237,1241},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{237,1551},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{473,1},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{473,311},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{473,621},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{473,931},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{473,1241},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{473,1551},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{709,1},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{709,311},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{709,621},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{709,931},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{709,1241},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{709,1551},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{945,1},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{945,311},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{945,621},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{945,931},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{945,1241},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{945,1551},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1181,1},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1181,311},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1181,621},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1181,931},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1181,1241},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1181,1551},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1417,1},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1417,311},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>316.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1417,621},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1417,931},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1417,1241},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1417,1551},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1653,1},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1653,311},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1653,621},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1653,931},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1653,1241},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1653,1551},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>412.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1889,1},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>413.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1889,311},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1889,621},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>416.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1889,931},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1889,1241},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,308}</string>
                <key>spriteSourceSize</key>
                <string>{234,308}</string>
                <key>textureRect</key>
                <string>{{1889,1551},{234,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>porket_card.png</string>
            <key>size</key>
            <string>{2124,1860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f932ee62a800cdc21710ea85e71cc05e:4b7a21aaaac648a834ab296f735a5556:eac7937daa4878896a8f0c0581e89e9a$</string>
            <key>textureFileName</key>
            <string>porket_card.png</string>
        </dict>
    </dict>
</plist>
